* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
}
body {
  font: 300 13px/1.6 Lato, 'Helvetica Neue', Helvetica, Arial;
  color: #444;
  background-color: rgb(100, 176, 213)
}
body,html{
	height: 100vh;
}
