/* Coolors Exported Palette - coolors.co/0d1b2a-0277bd-2c99d4-c0ddef-e0eef7 */

$color1: #0d1b2a; //rgba(13, 27, 42, 100)
$color2: #0277bd; //rgba(2, 119, 189, 100)
$color3: #2c99d4; //rgba(44, 153, 212, 100)
$color4: #c0ddef; //rgba(192, 221, 239, 100)
$color5: #e0eef7; //rgba(224, 238, 247, 100)